.tab button 
{
    background: inherit;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-bottom: 4px solid #ca67ee;
}


.tabcontent 
{
    display: none;
}